# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=notifications_db
DB_USER=postgres
DB_PASSWORD=

# Redis (for future caching layer)
REDIS_URL=redis://localhost:6379

# External Notification API
NOTIFICATION_API_URL=https://api.Assessment.com/notifications
API_AUTH_TOKEN=

# External Log API (mandatory)
LOG_API_URL=https://api.Assessment.com/logs
LOG_API_TOKEN=
SERVICE_NAME=notification-service

# HTTP server
PORT=3002
